body {
  background-color: rgb(254, 251, 251);
  color: black;
}

body.dark {
  background-color: #10141a;
  color: white;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button,
a,
button:hover,
a:hover {
  color: #9fc043;
}

button:hover,
a:hover,
.btn-primary:hover {
  background-color: #9fc043;
}

.ql-editor {
  color: #9fc043 !important;
}

.ql-toolbar button:hover {
  color: #9fc043 !important;
}

.post-card {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-in-out;
}

.animate-fade-out {
  animation: fade-out 0.3s ease-in-out;
}
